<div ng-controller="productCtrl">
    <input type="text" class="form-control col-xs-4" ng-model="searchProduct">
    <hr/>
    <br>
    <table class="table table-striped">
        <tr>
            <td>S.No</td>
            <td>Model</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
        <tr ng-repeat="item in products
           |filter:{price:searchProduct}
           |orderBy:'-model'">
            <td>{{$index+1}}</td>
            <td>{{::item.model}}</td>
            <td>{{::item.description}}</td>
            <td>{{::item.price|currency:"Rs."}}</td>
            <td>
                <button class="btn btn-primary" ng-click="addProduct(item)">Add To checkout</button>
            </td>
        </tr>
    </table>
</div>
